@page "/"

<PageTitle>Home</PageTitle>

<h1>Word Smith</h1>

Count words from text files
<br/><br/>

<br />
Just download any of these <a href="http://textfiles.com/stories/" target="_blank">files</a> and use the Process Book tab to count the words! Have fun!
